#right-section {
    margin-top: 1.4rem;
}

#right-section .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

#right-section .nav button {
    display: none;
}

#right-section .dark-mode {
    background-color: var(--color-transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius);
}

#right-section .dark-mode span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#right-section .dark-mode span.active {
    background-color: var(--color-brand);
    color: white;
    border-radius: var(--border-radius);
}

#right-section .nav .profile {
    display: flex;
    text-align: right;
    margin-right: 0.5em;
}

#right-section .user-profile {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--color-contrast);
    padding: var(--padding-card);
    border-radius: var(--border-radius-card);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: var(--transition);
}

#right-section .user-profile:hover {
    box-shadow: var(--box-shadow-hover);
}

#right-section .user-profile img {
    width: 11rem;
    height: auto;
    margin-bottom: 0.8rem;
    border-radius: 50%;
}

#right-section .user-profile h2 {
    margin-bottom: 0.2rem;
}

#right-section .reminders{
    margin-top: 2rem;
}

#right-section .reminders .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

#right-section .reminders .header span{
    padding: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-contrast);
    border-radius: 50%;
}

#right-section .reminders .notification {
    background-color: var(--color-contrast);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--padding-card);
    border-radius: var(--border-radius-more);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: var(--transition);
}

#right-section .reminders .notification:hover {
    box-shadow: var(--box-shadow-hover);
}

#right-section .reminders .notification .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}

#right-section .reminders .notification .icon {
    padding: 0.6rem;
    color: var(--color-contrast);
    background-color: var(--color-danger);
    border-radius: 20%;
    display: flex;
}

#right-section .reminders .add-reminder {
    background-color: var(--color-contrast);
    border: 2px dashed var(--color-brand);
    color: var(--color-brand);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#right-section .reminders .add-reminder:hover {
    background-color: var(--color-brand);
    color: white;
}

#right-section .reminders .add-reminder div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

@media screen and (max-width: 768px) {
    #right-section {
        width: 94%;
        margin: 0 auto 4rem;
    }

    #right-section .nav {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-contrast);
        padding: 0 var(--padding);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-transparent);
        margin: 0;
    }

    #right-section .nav .dark-mode {
        width: 4.4rem;
        position: absolute;
        left: 58%;
    }

    #right-section .profile .info {
        display: none;
    }

    #right-section .nav button {
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    #right-section .nav button span {
        font-size: 2rem;
    }
}