@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;500;800&display=swap');

@import "config.css";
@import "sidebar.css";
@import "content.css";
@import "right-section.css";

.container {
  display: grid;
  width: 98%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 10rem auto 20rem;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
    grid-template-columns: 5rem auto 20rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0 var(--padding);
  }
}
