@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;500;800&display=swap');
@import "sidebar.css";
@import "content.css";

:root{
  --color-background: #f6f6f6;
  --color-brand: #a76ccf;
  --color-dark: #363949;
  --color-dark-medium: #7d8da1;
  --color-dark-light: #677483;
  --color-danger: #ec0970;
  --color-success: #1b899c;
  --color-warning: #f7ea60;
  --color-contrast: #fff;
  --color-transparent: rgba(132, 139, 200, 0.18);

  --border-radius: 0.5rem;
  --border-radius-more: 1.0rem;
  --border-radius-card: 0.8rem;
  --border-radius-fix: 15px;

  --padding-card: 1.8rem;
  --padding: 1.2rem;

  --box-shadow: 0 0.5rem 1rem var(--color-transparent);
  --transition: all 0.2s ease;

  --size-medium: 1200px;
  --size-small:  768px;
}

.dark-mode-vars {
  --color-background: #181a1e;
  --color-contrast: #202528;
  --color-dark: #edeffd;
  --color-dark-light: #a3bdcc;
  --color-transparent: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-transparent);
  --box-shadow-hover: 0 0rem 5rem var(--color-transparent);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 0.88rem;
  overflow-x: hidden;
  color: var(--color-dark);
  background-color: var(--color-background);
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.6rem;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

h3 {
  font-weight: 300;
  font-size: 0.8rem;
}

small {
  font-size: 0.6rem;
}

.brand {
  color: var(--color-brand) !important;
}

.danger {
  color: var(--color-danger) !important;
}

.success {
  color: var(--color-success) !important;
}

.warning {
  color: var(--color-warning) !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.container {
  display: grid;
  width: 98%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 10rem auto 20rem;
}

#right-section {
  margin-top: 1.4rem;
}

#right-section .nav{
  display: flex;
  justify-content: end;
  gap: 2rem;
}

#right-section .nav button {
  display: none;
}

#right-section .dark-mode {
  background-color: var(--color-transparent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius);
}

#right-section .dark-mode span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#right-section .dark-mode span.active {
  background-color: var(--color-brand);
  color: white;
  border-radius: var(--border-radius);
}

#right-section .nav .profile{
  display: flex;
  text-align: right;
  margin-right: 0.5em;
}

#right-section .user-profile{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  background-color: var(--color-contrast);
  padding: var(--padding-card);
  border-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: var(--transition);
}

#right-section .user-profile:hover{
  box-shadow: var(--box-shadow-hover);
}

#right-section .user-profile img{
  width: 11rem;
  height: auto;
  margin-bottom: 0.8rem;
  border-radius: 50%;
}

#right-section .user-profile h2{
  margin-bottom: 0.2rem;
}

#right-section .reminders{
  margin-top: 2rem;
}

#right-section .reminders .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

#right-section .reminders .header span{
  padding: 10px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-contrast);
  border-radius: 50%;
}

#right-section .reminders .notification{
  background-color: var(--color-contrast);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--padding-card);
  border-radius: var(--border-radius-more);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: var(--transition);
}

#right-section .reminders .notification:hover{
  box-shadow: var(--box-shadow-hover);
}

#right-section .reminders .notification .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
}

#right-section .reminders .notification .icon {
  padding: 0.6rem;
  color: var(--color-contrast);
  background-color: var(--color-danger);
  border-radius: 20%;
  display: flex;
}

#right-section .reminders .add-reminder{
  background-color: var(--color-contrast);
  border: 2px dashed var(--color-brand);
  color: var(--color-brand);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#right-section .reminders .add-reminder:hover{
  background-color: var(--color-brand);
  color: white;
}

#right-section .reminders .add-reminder div{
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

@media screen and (max-width: var(--size-medium)) {
  .container {
    width: 95%;
    grid-template-columns: 5rem auto 20rem;
  }
}

@media screen and (max-width: var(--size-small)) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0 var(--padding);
  }
}
